- if production.liked_by?(current_user)
  = link_to(production_add_path(production), method: :delete, remote: true, id: :"like-button-#{production.id}") do
    .like__on
      %p お気に入り解除
    -# %i.fa-lg.fas.fa-bookmark.icon-btn.liked
- else
  = link_to(production_add_path(production), method: :post, remote: true, id: :"like-button-#{production.id}") do
    .like__off
      %p お気に入り登録
    -# %i.fa-lg.fas.fa-bookmark.icon-btn.not-like