= render 'productions/header'
- breadcrumb :mypage
= render "layouts/breadcrumbs"
.content
  .content-left
    = render 'side'
    
  .content-right
    .content-right__box
      .content-pro
        .content-pro__title
          Trading License
        .content-pro__name
          ichico様
      .info
        .info-date
          登録日
        .info-date
          現在の出品数
        .info-date
          コメントされた数
        .info-date
          コメントした数

    .content-right__sub
      最近出品した商品
