= render 'header'
.show
  .item
    .item__name
      %a メンズ リネンシャツ
    .item__infomation
      %img
      %table
        %tbody
          %tr
            %th 出品者
            %td
              = link_to '#', class: 'item__infomation__instans' do
                そら
          %tr
            %th カテゴリー
            %td
              = link_to '#', class: 'item__infomation__instans' do
                メンズ
          %tr
            %th 商品のサイズ
            %td FREE SIZE
          %tr
            %th 商品の状態
            %td 目立った傷や汚れなし
          %tr
            %th 配送料の負担
            %td 送料込み(出品者負担)
          %tr
            %th 配送の方法
            %td ゆうゆうメルカリ便
          %tr
            %th 配送元地域
            %td 山口県
          %tr
            %th 発送日の目安
            %td 1~2日で発送
    .item__price
      .price1
        %a ¥1,400
      .price2
        %a (税込)
      .price3
        %a 送料込み

    .item__btn
      .btn
        = link_to "購入画面に進む", production_purchase_index_path(@production.id), class: 'item__btm'
