.user{
  margin-left: 140px;
  height: 90vh;
  width: calc(100% - 250px);
  background-color: #f8f8f8;

  &__card{
    margin: 0 auto;
  

    &__content{
      font-size: 25px;
      text-align: center;
    }
  }
}

.customer__card__content{
    width: 900px;
    height: 300px;
    background-color: #ffffff;
    border-radius: 8px;
    border: 4px solid #3ccace;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    margin: 0 auto;
    font-weight: bold;
    margin-top: 50px;

    &__title{
      font-size: 22px;
      border-bottom: 4px solid #3ccace;
      color: #3ccace;
      padding-bottom: 20px;
      margin-bottom: 40px;
    }
}

.customer-card__content--number.form_space{
  font-size: 20px;
  margin-top: 10px;
}

.customer-card__content--expired.form_space{
  font-size: 20px;
  margin-top: 10px;
}

.btn-red{
  height: 50px;
  width: 400px;
  background-color: #3ccace;
  color: #ffffff;
  display: block;
  margin: 20px auto;
  border: none;
  border-radius: 4px;
  font-size: 18px;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  line-height: 50px;
}

a{
  text-decoration: none;
}

.customer-card__content--expired.form_spacei{
    height: 50px;
    width: 400px;
}

.user__card__contentk{
  padding-top: 100px;
  color: #3ccace;
  font-weight: bold;
  
}