.serch-pcheader{
    padding: 0 60px;
    .headerInner{
      max-width: 1040px;
      width: 100%;
      min-height: 82px;
      margin: 0 auto;
      padding: 15px 0 0;
      .mainHeader{
        background-color: #fff;
        position: relative;
        display: flex;
        align-items: center;
        .icon{
          padding-bottom: 10px;
          margin-right: 30px;
          border-radius: 4px;
          img{
            width: 140px;
            display: block;
          }
        }
        .searchBox{
          margin-left: auto;
          width: 100%;
          display: flex;
          .form{
            width: 100%;
            display: flex;
            height: 36px;
            margin-bottom: 5px;
            input{
              width: 100%;
              padding: 0 0 0 5px;
            }
          }
  
          button{
            background-color: white;
            width: 36px;
            border: 0;
            cursor: pointer;
            padding: 8px;
            background-color: #3CCACE;
            
          }
        }
      }
  
      .search-img{
        width: 100%;
      vertical-align: bottom;
      }
    }
}

.headerInner__nav{
  width: 100%;
  padding: 5px 0 15px;
  a{
    color: #333;
  }
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__leftBox{
    li a {
      background-color: white;
      margin: 0;
      padding: 0;
      width: 200px;
      display: block;
    }
    &__list{
      display: flex;
      justify-content: space-between;
      &__categoryMenu{
        &:hover .headerInner__nav__leftBox__list__categoryMenu__secondLevel{
          visibility: visible;
          opacity: 1;
        }
        &__secondLevel{
          visibility: hidden;
          opacity: 0;
          position: absolute;
          z-index: 10;
          &--list{
            &:hover .headerInner__nav__leftBox__list__categoryMenu__thirdLevel{
              visibility: visible;
              opacity: 1;
            }
          }
        }
        &__thirdLevel{
          visibility: hidden;
          opacity: 0;
          position: absolute;
          top: 0;
          left: 100%;
          &--list{
            &:hover .headerInner__nav__leftBox__list__categoryMenu__fourthLevel{
              visibility: visible;
              opacity: 1;
            }
          }
        }
        &__fourthLevel{
          visibility: hidden;
          opacity: 0;
          position: absolute;
          top: 0;
          left: 100%;
        }
      }
      &__brand{
        &:hover .headerInner__nav__leftBox__list__brand__secondLevel{
          visibility: visible;
          opacity: 1;
        }
        &__secondLevel{
          visibility: hidden;
          opacity: 0;
          position: absolute;
        }
      }
    }
  }
  &__rightBox{
    &__list{
      display: flex;
      li{
        margin-left: 10px;
      }
    }
  }
}
