.list__box{
    display: flex;
    background-color: #f8f8f8;
    &__contents{
      width: 100%;
      min-width: 480px;
      padding: 60px 300px;
      align-items: center;
      &__title{
        min-width: 480px;
        text-align: center;
        font-size: 26px;
        line-height: 1.4;
        font-weight: bold;
        position: relative;
      }
      &__subtitle{
        .subtitle{
          min-width: 480px;
          text-align: center;
          font-size: 26px;
          line-height: 1.4;
          font-weight: bold;
          position: relative;
          color: #3CCACE;
          margin: 0;
        }
      }
      &__cardList{
        display: flex;
        justify-content: flex-start;
        width: 100%;
        min-width: 480px;
        margin-right: 5%;
        &--card{
         
          width: 30%;
          margin-right: 10px;
          position: relative;
          &:hover{
            opacity: 0.8;
          }
          .card{
            width: 100%;
            height: 200px;
            object-fit: cover;
            padding-top: 15px;
            position: relative;

          }
          .name{
            font-weight: normal;
            padding-left: 100px;
          }
          .price{
            margin: 0;
            position: absolute;
            padding-left: 130px;
          }
          .tax{
            margin: 0;
            font-size: 5px;
            padding: 22px 0 0 135px;
          }
        }
      }
    }
  }

  .lists__boxi{
    display: flex;
    background-color: #f8f8f8;
    &__contents{
      width: 100%;
      min-width: 480px;
      padding: 60px 300px;
      align-items: center;
      &__title{
        min-width: 480px;
        text-align: center;
        font-size: 26px;
        line-height: 1.4;
        font-weight: bold;
        position: relative;
      }
      &__subtitle{
        .subtitle{
          min-width: 480px;
          text-align: center;
          font-size: 26px;
          line-height: 1.4;
          font-weight: bold;
          position: relative;
          color: #3CCACE;
          margin: 0;
        }
      }
      &__cardList{
        display: flex;
        justify-content: flex-start;
        width: 100%;
        min-width: 480px;
        margin-right: 5%;
        &--card{
          &:hover{
            opacity: 0.8;
            cursor: pointer;
          }
         
          width: 30%;
          margin-right: 10px;
          position: relative;
          .card{
            width: 100%;
            height: 200px;
            object-fit: cover;
          }
          .name{
            font-weight: normal;
          }
          .price{
            margin: 0;
            position: absolute;
          }
          .tax{
            margin: 0;
            font-size: 5px;
          }
        }
      }
    }
  }

  .title{
    font-weight: bold;
  }

  .items-box_photo__sold{
    width: 0;
    height: 0;
    border-top: 60px solid #EA352D ;
    border-right: 60px solid transparent;
    border-bottom: 60px solid transparent;
    border-left: 60px solid #EA352D ;
    z-index:100;
    position: absolute;
    top:-1px;
    &__inner{
      transform: rotate(-45deg);
      font-size: 28px;
      margin:-35px 0px 0px -55px;
      color: #fff;
      letter-spacing: 2px;
      font-weight: 600;
      text-decoration: none;
    }
  }