.account__page{
    background-color: #f8f8f8;
    height: 100vh;
    width: 100%;
    overflow: auto;
  
    &__header{
      height: 60px;
      width: 100%;
      background-color: #ffffff;
      margin: 0 auto;
      text-align: center;
      position: fixed;
      display: table-cell;
      padding-top: 8px;
      box-sizing: border-box;
      box-shadow: 0 3px 3px 0 rgba(0,0,0,0.16);
  
      img {
        width: 150px;
        cursor: pointer;
      }
  
    }
    &__main{
      background-color: #ffffff;
      width: 650px;
      margin: 80px auto 0px;
      padding: 30px 15px;
  
      &__content{
        width: 350px;
        margin: 0 auto;
  
        &--error{
          font-size: 11px;
          color: red;
          margin: 20px auto;
        }
      }
  
      .field{
        &__title {
          font-size: 22px;
          text-align: center;
          font-weight: bold;
        }
  
        &__subtitle{
          font-weight: bold;
          font-size: 14px;
          margin-top: 50px;
        }
  
        &__label{
          display: flex;
          margin: 25px 0px 5px 10px;
          font-weight: bold;
  
          .name{
            font-size: 14px;
            line-height: 20px;
          }
          
          .required{
            background-color: #3ccace;
            color: #ffffff;
            font-size: 10px;
            height: 20px;
            width: 30px;
            text-align: center;
            line-height: 20px;
            margin-left: 10px;
            border-radius: 4px;
          }
        }
  
        &__guide {
            font-size: 12px;
            color: #6c6c6c;
          }
  
        &__input{
            display: flex;
          }
      }
    }
  
    .textbox{
        display: block;
        height: 40px;
        padding-left: 10px;
        width: 100%;
      }
  
    
  
    .submit-btn {
      height: 50px;
      background-color: #3ccace;
      color: #ffffff;
      width: 100%;
      display: block;
      margin: 40px auto;
      border: none;
      border-radius: 4px;
      font-size: 18px;
      cursor: pointer;
    }
  }
