.sessions-new{
    width: 100%;
    height: auto;
    background: #f5f5f5;
    padding-top: 27px;
    padding-bottom: 27px;
    a{
      display: none
    }
    &__wrapper{
      width: 456px;
      height: auto;
      background-color:white;
      margin-right: auto;
      margin-left: auto;
      &__registrations{
        width: 85%;
        height: 85px;
        padding-top: 24px;
        padding: 24px, 32px;
        border-bottom: solid 1px;
        border-color: gainsboro;
        text-align: center;
        margin: auto;
  
        &__nav{
          font-size: 14px;
        }
        &__button{
          border: 1px solid #0099e8;
          background: #0099e8;
          border: none;
          height: 42px;
          a{
            display: inline-block;
            text-decoration: none;
            width: 100%;
            height: 100%;
            line-height: 40px;
            color: white;
          }
        }
      }
      &__form{
        .field{
          width: 90%;
          margin: auto;
  
        }
        label{
          display: none;
        }
        input{
          width: 85%;
          height: 48px;
          margin-left: auto;
          margin-right: auto;
          /* padding: 9px; */
          padding: 9px 16px 9px 16px;
          display: block;
        }
        #user_remember_me{
          display: none;
        }
        .actions--red{
          margin-top: 24px;
          padding-bottom: 24px;
          height: 42px;
  
          input{
            background-color: #3CCACE;
            border: none;
            color: white;
            cursor: pointer;
            width: 85%;
  
          }
        }
      }
      
    }
  }

  .serch-pcheaders{
    padding: 0 60px;
    .headerInners{
      max-width: 1040px;
      width: 100%;
      min-height: 82px;
      margin: 0 auto;
      padding: 15px 0 0;
      .mainHeaders{
        background-color: #fff;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        .icons{
          padding-bottom: 10px;
          margin-right: 30px;
          border-radius: 4px;
          img{
            width: 140px;
            display: block;
          }
        }
     }
  }
}

.sessions-bt{
display: flex;
justify-content: center;
}