.show{
  display: flex;
  justify-content: center;
  background-color: rgb(243, 242, 242);
  .item{
    box-sizing: border-box;
    border: 1px solid white;
    height: 1400px;
    width: 700px;
    background-color: white;
    margin: 80px 0;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
    &__name{
      font-size: 35px;
      display: flex;
      justify-content: center;
      margin: 20px 0 5px 0;
      font-weight: bold;
    }

    &__like {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      &__content{ 
        width: 180px;
        height: 25px;
        margin: 0 20px 0 0;
        font-weight: bold;
        background-color: #3ccace;
        a {
          text-align: center;
          font-size: 15px;
          color: white
        }
      }
    }

    &__photos {
      display: block;
      margin: px 10px 10px 10px;
        .item__photos-first{
          display: flex;
          justify-content: center;
          
        }

        .item__photos-second {
          display: flex;
          justify-content: center;
          margin:5px 10px ;
          img {
            overflow: scroll;
            height: 100px;
            width: 100px;
          }
        }
  
    }
    &__info {
      margin: 5px 5px 5px 0;
      display: flex;
      justify-content: center;
      font-size: 16px;
      table {
        th{
          width: 150px;
          background-color: rgb(243, 242, 242);
          border: solid lightgray 1px;
          padding: 5px 5px 5px 5px;
          color: rgb(54, 54, 54);
        }
        td {
          width: 350px;
          padding: 5px 5px 5px 5px;
          border: solid lightgray 1px;
          color: rgb(54, 54, 54);
          a{
            text-decoration: none;
            color: #0099E8;
          }
        }
      }
    }
    &__introduction {
      margin: 20px;
      font-size: 20px;
      text-align: center;
      font-weight: bold;
      &__content {
        font-weight: normal;
        text-align: left;
        font-size: 18px;
        display: flex;
        margin: 0 0 0 50px;
        white-space: pre-wrap;
        overflow: scroll;
        height: 150px;
      }
    }

    &__price{
      display: flex;
      justify-content: center;
      margin: 10px 0 20px 0;
      .price1{
        a{
          font-size: 40px;
          font-weight: bold;
          font-family: "Source Sans Pro", Helvetica, Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
        }
      }
      .price2{
        margin: 20px 0 0 2px;
        a{
          font-size: 20px;
          font-weight: normal;
          font-family: "Source Sans Pro", Helvetica, Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
        }
      }
    }
  }
    .item__delete{
      display: flex;
      justify-content: center;
      margin-bottom: 5px;
      .btn{
        height: 70px;
        width: 600px;
        background-color: #3ccace;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
      }
        a{
          font-size: 30px;
          color: white;
          font-weight: bold;
          text-decoration: none;
          font-family: "Source Sans Pro", Helvetica, Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
        }
    }
    .item__edit{
      display: flex;
      justify-content: center;
      .btn{
        height: 70px;
        width: 600px;
        background-color: #3ccace;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
      }
        a {
          font-size: 30px;
          color: white;
          font-weight: bold;
          text-decoration: none;
          font-family: "Source Sans Pro", Helvetica, Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
        }
    }

    .item__btn{
      display: flex;
      justify-content: center;
      .btn{
        height: 70px;
        width: 600px;
        background-color: #3ccace;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
      }
        a{
          font-size: 30px;
          color: white;
          font-weight: bold;
          text-decoration: none;
          font-family: "Source Sans Pro", Helvetica, Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
        }
    }
  }

  .soldout{
    padding: 40px 40px 40px;
    position: relative;
    &__item {
      padding:5px;
      font-weight:bold;
      font-size:80px;
      color:#fff;
      background:#c00;
      text-align: center;
      width: 80%;
      transform: translate(0px, 50px) rotate(20deg);
      position: absolute;
      margin-top: 150px;
      margin-left: 30px;
      opacity: 0.7;
    }
  }